body{
    margin: 0;
    width: 100%;
}
.t16{
    font-size: 16px;
}
.d14{
    font-size: 14px;
}
.t-46{
    font-size: 46px;
}
.t-32{
    font-size: 32px;
}

/* Шапка */
.top-contacts{
    position: absolute;
    top:18px;
    right: 130px;

    display: flex;
    gap: 40px;

}
.top-contacts img{
    width: 30px;
    height: 30px;
    
}
.header{
    margin-top: 70px;
    display: flex;
    font-size: 14px;
    background: #b5b5b5;
    width: 100%;
    position: relative;
}
.header a{
    text-decoration: none;
    color: rgb(44, 48, 63);
}
.header__logo img{
    height: 130px;
    justify-content: space-around;
    margin-left: 220px;
    margin-right: 270px;
}

.header__wrapper{
    display: flex;
    flex-direction: column;
    gap: 44px;
    text-align: center;
    font-family: sans-serif;
}
.header__nav{
    display: flex;
    gap: 210px;
}
.header__nav img{
    height: 20px;
    width: 20px;
}
.loupe{
    cursor: pointer;
}
.search{
    position: absolute;
    right: 350px;
    top: 75px;
    display: none;
    transition: all 3s ease;

}
.search input{
    width: 750px;
    border-radius: 15px;
    padding: 6px;

}
.show{
    display: block;
}
/* Шапка */

/* Модальное окно */
.modal{ 
    padding-top: 140px;
}
.modal-header{
    padding: 0 150px !important;
}
.modal-header span{
    padding: 20px 25px !important;
}
.modal-backdrop {
    background-color: #eaeaea !important;
  }
/* Модальное окно */

/* Популярное за неделю */
.top-section{
    display: flex;
    margin-top: 78px;
    gap: 10px;
}

.top-on-week-cards{
    
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.top-on-week-cards a {
    text-decoration: none;
    color: rgb(30, 28, 28);
}
.ncard{
    background: #b5b5b5;
    width: 650px;
    height: 72px;
    margin-left: 220px;
    padding: 7px 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ncard p{
    margin-bottom: 14px;
    margin-top: 0;
    font-size: 14px;
}

.card p:first-child{
    font-size: 12px;
}

.top-on-week-card{
    display: flex;
    flex-direction: column;
    gap: -300px;
}
.bord{
    width: 700px;
    height: 320px;
    background-color: #8a8989;
}

.text-bord{
    background-color: #d7d4d4;
    max-width: 95%;
    height: 72px;
    margin-top: -55px;
    margin-left: 2.3%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.text-bord p{
    margin: 22px 25px;
}
/* Популярное за неделю */  

/* Свежие новости */
h1{
    margin: 70px 0 !important; 
    margin-left: 220px !important;
    
}

.section-news{
    padding-left: 220px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.section-news a{
    text-decoration: none;
    color: rgb(30, 28, 28);
}

.new-card{
    height: 207px;
    width: 1090px;
    display: flex;
    background: #b5b5b5;
    padding-right: 0px;
    position: relative;
}
.new-card__img {
    width: 170px;
    height: 170px;
    margin-top: 17px;
    margin-left: 13px;
}

.new-info{
    display: flex;
    flex-direction: column;
    margin: 32px 0;
}

.new-info__top{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;
    margin: 0 18px;
}
.view{
    display: flex;
    text-align: center;
    position: absolute;
    top:28px;
    right: 70px;
    font-size: 12;
}
.new-info__top img{
    padding-top: 3px;
    width: 56px;
    height: 20px;
}

.new-info__bottom{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-left: 18px;
}
/* Свежие новости */

/* Переключатель страниц */
.switch{
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.pages-numerate{
    display: flex;
    gap: 41px;
}
.pages-numerate__link{
    text-decoration: none;
    color: #8a8989;
    background: #e4e4e4;
    padding: 23px;
}

.first, .last{
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* Переключатель страниц */

/* Поделиться инсайдом */
.share-inside{
    margin-top: 200px;
    height: 750px;
    display: flex;
    background-color: #e4e4e4;
    padding: 120px 0 140px 220px;
}
.share-inside img{
    width: 490px;
    height: 490px;
}

.share-inside__text{
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/* Поделиться инсайдом */

/* Подвал */
footer{
    margin-top: 200px;
    background-color:#dedede;
}

.subscripe{
    background-color: #D5D4D4;
    padding: 25px 220px 45px 220px;
    display: flex;
    flex-direction: column;
    
}
.wrapper-form{
    position: relative;
}
.wrapper-form input{
    height: 87px;
    width: 1166px;
    border-radius: 23px;
    border: none;
    padding-left: 26px;
    font-size: 18px;
    background-color: #e8e8e8;
}
.wrapper-form input:focus{
    outline:1px solid #ab7d7d;
}

.wrapper-form button{
    position: absolute;
    top: -2px;
    right: -6px;
    height: 92px;
    border-radius: 23px;
    border: none;
    width: 435px;
    background-color: #E4C6C6;
    font-size: 28px;
}

.mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mid img{
    width: 61px;
    height: 61px;
}

.social{
    display: flex;
    gap: 240px;
}
.nav-links{
    margin-top: 115px;
    font-size: 14px;
    display: flex;
    gap: 390px;
}
.nav-links a{
    text-decoration: none;
    color: black;
}
.buttom img{
   width: 150px;
   height: 150px;
}
.buttom{
    display: flex;
    padding: 80px 0px 20px 220px;
    align-items: center;
}
.n1{
    margin-right: 440px;
}
.n2{
   margin-right: 150px;
}
.buttom input{
    width: 400px;
    height: 56px;
    border-radius: 12px;
    border: none;
    padding-left: 25px;
}
/* Подвал */